@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide  {
  margin: 0 10px;
}

.custom-next-arrow, .custom-prev-arrow{
  position: absolute;
  cursor: pointer;
  border: 1px solid #001925;
  border-radius: 10px;
  transition: background-color .2s ease-in-out;
}

.custom-next-arrow {
  top: -40px;
  right: 0;
}

.custom-prev-arrow {
  top: -40px;
  right: 40px;
}

.custom-next-arrow:hover, .custom-prev-arrow:hover{
  background-color: #87d2d8;
}

#header-nav {
  animation: color linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@keyframes color {
  100% {
    box-shadow: none;
    background: #3db2bb;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}


/* scroll */

.categories_scroll::-webkit-scrollbar {
  height: 8px;
  border-radius: 2px;
}

.categories_scroll::-webkit-scrollbar-thumb {
  background: #3db2bb;
  border-radius: 2px;
}

.categories_scroll::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 2px;
}